<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/comment.js}"></script>
    <title>게시판</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <script>
        function getParameter(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, ""));
        }

        $(document).ready(function () {
            listing()
        })

        let id = getParameter("id");
        function listing() {
            $.ajax({
                type: "GET",
                url: `/api/board/${id}`,
                data: {},
                success: function (response) {
                    console.log(response)
                    $('#title').text(response['title']);
                    $('#writer').text(response['writer']);
                    $('#content').text(response['content']);
                    $('#createdAt').text(response['createdAt']);
                }
            });
        }

        function back() {
            window.location.href = '/'
        }
    </script>

    <style>
        .wrap {
            width: 500px;
            margin: 200px auto;
        }

        .comment-area {
            background-color: lightgray;
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>

<body>
<div class="wrap">
    <div class="form-group">
        <h4 id="title">이것이 제목입니다.</h4>
    </div>
    <div class="form-group">
        <h6 id="writer">글쓴이입니다</h6>
    </div>
    <div class="form-group">
        <h6 id="createdAt"></h6>
    </div>
    <div class="form-group comment-area">
        <p id="content">내용입니다. </p>
    </div>
    <button onclick="back()" class="btn btn-primary">돌아가기</button>
    <div class="card mb-2 mt-5">

        <div class="card-header bg-light">
            <i class="fa fa-comment fa"></i> 댓글
        </div>
        <form>
            <div class="card-body">
                <input type="hidden" id="boardId" th:value="${board.id}">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <textarea class="form-control" id="reply-content" rows="1"></textarea>
                        <button id="reply-btn-save" type="button" class="btn btn-dark mt-3">등록</button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <br/>
    <div class="card">
        <div class="card-header">댓글</div>
        <ul id="reply--box" class="list-group" th:each="reply : ${board.commentList}">
            <li th:id="'reply--' + ${comment.id}" class="list-group-item d-flex justify-content-between">
                <div th:text="${comment.content}"></div>
                <div class="d-flex">
                    <span class="text-monospace mr-1">작성자: &nbsp;</span><div class="text-monospace mr-1" th:text="${comment.user.username}"></div>
                    <button class="badge btn-warning">수정</button><span> | </span>
                    <button class="badge btn-danger">삭제</button>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>